<div class="modal-header">
    <h3>Platform options</h3>
</div>
<div class="modal-body">
    <form name="form" class="css-form" novalidate>

        Select the platforms to be included in the timeline:
        <br/>
        <br/>

        <label class="radio">
            <input type="radio" ng-model="platformOptions.selection" value="tokens">
            Only platforms having tokens
        </label>

        <label class="radio">
            <input type="radio" ng-model="platformOptions.selection" value="all"/>
            Include all platforms
        </label>

        <label class="radio">
            <input type="radio" ng-model="platformOptions.selection" value="types"/>
            Only platforms of these types:
        </label>

        <div>
            <ul>
                <li ng-repeat="pt in platformOptions.platformTypes">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="platformOptions.selectedTypes[pt]"
                               value="platformOptions.selectedTypes[pt]"/>
                        {{pt}}
                    </label>
                </li>
            </ul>
        </div>

        <!--<pre>platformOptions: {{platformOptions | json}}</pre>-->
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="set()"
            ng-disabled="isUnchanged() || !isValid()">Apply</button>
    <button class="btn btn-primary" ng-click="reset()"
            ng-disabled="isUnchanged() || !isValid()">Reset</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
</div>
