<div class="modal-header">
    <h3>Token on timeline for platform {{token.platform_name}}</h3>
</div>
<div class="modal-body">
    <form name="form" class="css-form" novalidate>

        State:
        <input type="text" ng-model="token.state">
        <br/>

        Description:
        <textarea rows="3" cols="100" ng-model="token.description">
        </textarea>
        <br/>

        <table>
            <tr>
                <td>
                    Start:
                </td>
                <td>
                    End:
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" ng-model="token.start">
                </td>
                <td>
                    <input type="text" ng-model="token.end">
                </td>
            </tr>
            <tr>
                <td>
                    <div class="well well-small pull-left" ng-model="token.start">
                        <datepicker show-weeks="false"></datepicker>
                    </div>
                </td>
                <td>
                    <div class="well well-small pull-left" ng-model="token.end">
                        <datepicker show-weeks="false"></datepicker>
                    </div>
                </td>
            </tr>
        </table>

<!--
        <input type="text" datepicker-popup="dd-MMMM-yyyy" ng-model="token.start"
               is-open="opened"
               datepicker-options="dateOptions"
               ng-required="true" />
        <button class="btn" ng-click="openStartDate()"><i class="icon-calendar"></i></button>
-->
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="set()"
            ng-disabled="isUnchanged() || !isValid()">Apply</button>
    <button class="btn btn-primary" ng-click="reset()"
            ng-disabled="isUnchanged() || !isValid()">Reset</button>
    <button class="btn btn-warning" ng-click="delete()"
            >Delete</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
</div>
